<div class="container" *ngIf="stateCard">
  <div class="row">
    <div class="col-6 col-md-3 col-log-3" *ngFor="let game of games; let i = index">
      <div class="card w-100 mt-5" (click)="checkElement(i)">
        <img [src]="game.img" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{ game.name |  titlecase }}</h5>
          <p>indice {{ i }}</p>
          <p class="card-text">{{ game.description | lowercase }}</p>
          <p class="card-text">{{ game.platform  }}</p>
          <p class="card-text">{{ game.date | date: 'EEEE, MMMM d, y' | uppercase | json}}</p>
          <a class="btn btn-primary" (click)="addGame(game)">Comprar!</a>
        </div>
      </div>
    </div>
  </div>
</div>